# Data folder
[dD][aA][tT][aA]/

# Derived data
DerivedData/

# Libraries
Libraries/

# Binaries
Bin/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db
Project/Sources/Methods/Compiler_Methods.4dm
Resources/en.lproj/syntaxEN.json
Project/Sources/Methods/Compiler_Variables.4dm
Project/4D-UI.journal
Project/4D-UI.4DD
Project/Sources/catalog.4DCatalog
Project/Logs/4D-UI_errors.xml
Project/Logs/4D-UI_symbols.txt
Project/Logs/buildApp.log.xml
Project/Logs/BuildLogStyleSheet.css
